---
layout: default
---

<div class="jumbotron">
    <h1>Hello !</h1>
    <p>Hi, my name is Alexandre Brochu. I have been studying computer programming / computer science since high school and have been interested in game development for some time now. I currently work on game projects on my own while seeking a job in the domain.</p>
    <p><a class="btn btn-lg btn-primary" href="{{ site.baseurl }}/about" role="button">Learn More &raquo;</a></p>

    <p>Here's a small website for me to put up information about those projects so people can have an idea of what I am working on. Demos, screenshots and download links should be available for you to see or try the different games.</p>
    <p>Enough text, here are some links to some of the projects I am working on</p>
</div>

<div class="row">
  {% assign projects = site.posts | sort:"status" %}
  {% for post in projects %}
    {% if post.toShow != false %}

      <div class="col-sm-6 col-md-4">
        <div class="panel panel-info">

        <div class="panel-heading">{{ post.title }}</div>
        <div class="panel-body">
          <span class="tag"><i class="fa {{  post.type }} fa-2x" title="{{ post.typeTitle }}"></i></span>
          <span class="tag"><i class="fa {{  post.source }} fa-2x" title="{{ post.sourceTitle }}"></i></span>
          <span class="tag"><i class="fa {{  post.lang }} fa-2x" title="{{ post.langTitle }}"></i></span>

          {% for tool in post.tools %}
            <span class="tag"><img src="{{site.baseurl}}/images/logos/{{tool[1]}}" title="{{tool[0]}}" /></span>
          {% endfor %}
          <hr/>

          {% if post.status == 1 %}
          <p><span class="label label-success">Complete</span><p>
          {% elsif post.status == 2 %}
          <p><span class="label label-warning">In Progress</span><p>
          {% elsif post.status == 3 %}
          <p><span class="label label-default">Planned</span><p>
          {% endif %}

          <p>{{ post.description }}<p>
          <p><a href="{{ site.baseurl }}{{ post.url }}" class="btn btn-primary" role="button">Check out</a></p>
        </div>
        </div>
      </div>

    {% endif %}
  {% endfor %}
</div>
