---
layout: default
---
<div class="shortPres">
    <p>Hi, my name is Alexandre Brochu. I have been studying computer programming / computer science since high school and have been interested in game development for some time now. I currently work on some game project on my own while seeking for a job in the domain.</p>

    <p>Here's a small website for me to put up information about those projects so people can have an idea of what I am working on. Demos, screenshots and download links should be available for you to see or try the different games.</p>

    <p>For more info about me, please visit the <a href="/about">about page</a></p>

    <p>Here is a list of what I am working on lately : </p>

    <p>The following table gives information about the projects I have been working on. The different colors represent the status of this project. Green means the project is completed, orange means the project in under construction right now and red means the project is still in preparation.</p>
</div>

<div class="projects">
  {% assign projects = site.posts | sort:"status" %}
  {% for post in projects %}
    {% if post.toShow != false %}
    <article class="{{post.class}}">
        <span class="title"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></span>

        <div class="tags">
        <span class="tag"><i class="fa {{post.type}} fa-2x" title="{{post.typeTitle}}"></i></span>
        <span class="tag"><i class="fa {{post.source}} fa-2x" title="{{post.sourceTitle}}"></i></span>
        <span class="tag"><i class="fa {{post.lang}} fa-2x" title="{{post.langTitle}}"></i></span>

        {% for tool in post.tools %}
        <span class="tag"><img src="{{site.baseurl}}/images/{{tool[1]}}" title="{{tool[0]}}" /></span>
        {% endfor %}
        </div>

        <div class="cb"></div>
      </article>
    {% endif %}
  {% endfor %}
</div>

<!--<h2>TEST FOR ICONS IN PROJECT LIST, THESE ICONS WILL GIVE FAST INFORMATION ABOUT THE PROJECTS</h2>

<i class="icon-cplusplus" style="font-size:25px;"></i>

<div class="list-group">
    <a class="list-group-item" href="#"><i class="fa fa-home fa-fw"></i>&nbsp; Home</a><br />
    <a class="list-group-item" href="#"><i class="fa fa-book fa-fw"></i>&nbsp; Library</a><br />
    <a class="list-group-item" href="#"><i class="fa fa-pencil fa-fw"></i>&nbsp; Applications</a><br />
    <a class="list-group-item" href="#"><i class="fa fa-cog fa-fw"></i>&nbsp; Settings</a><br />
</div>

<img src="{{site.baseurl}}/images/udes-logo.svg" />-->
